
<div *ngIf="hasGameEnded$ | async; else runningGame">
  <div *ngIf="hasWon$ | async; else lost">
    Vous avez gagné !
  </div>
  <ng-template #lost>
    Vous avez perdu ! La carte à deviner était:
    <game-card *ngIf="otherPlayerCard$ | async as otherPlayerCard" [gameCard]="otherPlayerCard"></game-card>
  </ng-template>
</div>

<ng-template #runningGame>
  <div *ngIf="isMyTurn$ | async; else notMyTurn">
    <p>Posez une question à l'autre joueur via le chat. Sélectionnez les cartes que vous souhaitez éliminer, puis validez votre choix.</p>
    <button class="btn btn-primary" (click)="play()">Valider</button>
  </div>

  <ng-template #notMyTurn>
    En attente du choix de l'autre joueur. Utilisez le chat pour répondre à sa question.
  </ng-template>
</ng-template>
<br>
<br>

<game-board *ngIf="disabledCardsIds$ | async as disabledCardsIds"
  [gameCards$]="gameCards$"
  [themeCards$]="themeCards$"
  [selectedCardsIds]="chosenCardsIds"
  [disabledCardsIds]="disabledCardsIds"
  (clickedCardId)="clickOnCardHandler($event)"></game-board>
