
<div *ngIf="hasGameEnded$ | async; else runningGame">
  <div *ngIf="hasWon$ | async; else lost">
    Vous avez gagné !
  </div>
  <ng-template #lost>
    Vous avez perdu ! La carte à deviner était:
    <!-- TODO: component for one card -->
    <div *ngIf="cardsPaths$ |async as cardsPaths">
    <div class="m-1 p-3 border-primary border board-card"
         style="cursor: pointer;width: 170px;min-height:220px"
        *ngIf="otherPlayerCard$ | async as otherPlayerCard">
      <h3 style="font-size: 16px;">{{otherPlayerCard.themeCard.name}}</h3>
      <img src="/content/images/themes/{{cardsPaths[otherPlayerCard.id] | async}}" alt="" width="140px">
    </div>
    </div>
  </ng-template>
</div>

<ng-template #runningGame>
  <div *ngIf="isMyTurn$ | async; else notMyTurn">
    <p>Sélectionnez les cartes que vous souhaitez éliminer, puis validez votre choix</p>
    <button class="btn btn-primary" (click)="play()">Valider</button>
  </div>

  <ng-template #notMyTurn>
    En attente du choix de l'autre joueur.
  </ng-template>
</ng-template>
<br>
<br>

<game-board *ngIf="disabledCardsIds$ | async as disabledCardsIds"
  [gameCards$]="gameCards$"
  [themeCards$]="themeCards$"
  [selectedCardsIds]="chosenCardsIds"
  [disabledCardsIds]="disabledCardsIds"
  (clickedCardId)="clickOnCardHandler($event)"></game-board>
