<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="room">
      <h2 data-cy="roomDetailsHeading"><span jhiTranslate="quiestceApp.room.detail.title">Room</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ room.id }}</span>
        </dd>
        <dt><span jhiTranslate="quiestceApp.room.name">Name</span></dt>
        <dd>
          <span>{{ room.name }}</span>
        </dd>
        <dt><span jhiTranslate="quiestceApp.room.code">Code</span></dt>
        <dd>
          <span>{{ room.code }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/room', room.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
