<div class="row">
  <div class="col-md-12">
    <h1 class="display-4"><span jhiTranslate="home.title">Bienvenue !</span></h1>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-warning" *ngSwitchCase="false">
        Veuillez vous
        <a class="alert-link" (click)="login()">connecter</a>.
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Vous n'avez pas encore de compte ?</span>&nbsp;
        <a class="alert-link" routerLink="/account/register">Créer un compte</a>
      </div>

      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >Vous êtes connecté en tant que "{{ account.login }}".</span
        >
      </div>

      <rooms-list *ngSwitchCase="true"></rooms-list>


    </div>

  </div>
</div>
