.board-card {
  border-style: inset !important;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-around;
  user-select: none;
}
.board-card:hover {
  background-color: #f7f7f7;
}
.board-card:active {
  border-style: outset !important;
  background-color: #eee;
}
.board-card.selected {
  background-color: #bee;
}
.board-card.selected:hover {
  background-color: #bee;
}
.board-card.disabled {
  background-color: #fff;
  color: #eee;
  border: 1px solid #eee !important;
}
.board-card.disabled img {
  opacity: 0.2;
}
.board-card.disabled:hover {
  background-color: #fff;
}
.board-card.disabled:active {
  border-style: inset !important;
  background-color: #fff;
}


